<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Header</h1>
            <h2>Subtitle</h2>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Something more...</a></li>
                <li><a href="#">Something even more...</a></li>
            </ul>
        </nav>
        <div class="four-m column four-l" id="coffee">
            <h3>Coffee Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae elementum turpis. Morbi feugiat erat quis lacus dignissim maximus. Duis id rutrum arcu. Mauris in maximus orci. Pellentesque vel ex ut dolor euismod ullamcorper id et nunc. Donec ullamcorper sapien ac varius viverra. Nulla laoreet venenatis augue, eget euismod elit commodo eu.</p>
        </div>
        <div class="four-m column four-l" id="lorem">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae elementum turpis. Morbi feugiat erat quis lacus dignissim maximus. Duis id rutrum arcu. Mauris in maximus orci. Pellentesque vel ex ut dolor euismod ullamcorper id et nunc. Donec ullamcorper sapien ac varius viverra. Nulla laoreet venenatis augue, eget euismod elit commodo eu.</p>
        </div>
        <div class="four-m column four-l" id="baby">
            <h3>Baby Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae elementum turpis. Morbi feugiat erat quis lacus dignissim maximus. Duis id rutrum arcu. Mauris in maximus orci. Pellentesque vel ex ut dolor euismod ullamcorper id et nunc. Donec ullamcorper sapien ac varius viverra. Nulla laoreet venenatis augue, eget euismod elit commodo eu.</p>
        </div>
        <div class="four-m column four-l" id="zombie">
            <h3>Zombie Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae elementum turpis. Morbi feugiat erat quis lacus dignissim maximus. Duis id rutrum arcu. Mauris in maximus orci. Pellentesque vel ex ut dolor euismod ullamcorper id et nunc. Donec ullamcorper sapien ac varius viverra. Nulla laoreet venenatis augue, eget euismod elit commodo eu.</p>
        </div>
    </div>
</body>
</html>
